@model FaceBook_InitialVersion.Models.Person

@if (Model.State == Enums.UserStatus.Active)
{
    <a asp-action="Block" asp-controller="Admin" asp-route-id="@Model.Id" data-ajax="true" data-ajax-mode="replace" data-ajax-method="post" data-ajax-update="#Search"
       class="btn btn-danger ifn-sm">Block</a>
}
else if (Model.State == Enums.UserStatus.Blocked)
{
    <a asp-action="Activate" asp-controller="Admin" asp-route-id="@Model.Id" data-ajax="true" data-ajax-mode="replace" data-ajax-method="get" data-ajax-update="#Search"
       class="btn btn-success ifn-sm">Activate</a>

}