@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1 style="margin-left:200px">Manage your account</h1>

<div style="margin-left:200px">
    <h2>Change your account settings</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
