@model Person

<div class="add-btn">
    <a asp-controller="Person" asp-action="RemoveFriend"
       asp-route-currentUserName="@User.Identity.Name"
       asp-route-friendUserName="@Model.UserName"
       asp-route-DefaultValue="1"
       data-ajax="true"
       data-ajax-update="#friendshipState"
       data-ajax-mode="replace"
       data-method="post">Remove friend</a>
</div>