@model FaceBook_InitialVersion.Models.Post
@* Making the submiting of the form working with ajax *@
<form asp-controller="Person" asp-action="CreatePost" data-ajax="true" data-ajax-update="#MyPosts" data-ajax-mode="replace" data-method="post">
    <div class="new-postbox">
        <figure>
            <img src="images\resources\admin2.jpeg" alt="">
        </figure>
        <div class="newpst-input">
            <textarea rows="2" placeholder="write something" asp-for="Body"></textarea>
            <div class="attachments">
                <ul>
                    <li>
                        <button type="submit">Post</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</form>
