@model FaceBook_InitialVersion.Models.Post
@* Making the submiting of the form working with ajax *@
@using Microsoft.AspNetCore.Identity
@inject UserManager<Person> UserManager
<form asp-controller="Person" asp-action="Create" data-ajax="true" data-ajax-update="#MyPosts" data-ajax-mode="replace" data-method="post">
    <div class="new-postbox">
        <figure>
            <img src="@UserManager.Users.Where(u => u.UserName == User.Identity.Name).Select(u => u.userphoto).FirstOrDefault()" width="60" height="60" alt="">
        </figure>
        <div class="newpst-input">
            <textarea rows="2" placeholder="write something" asp-for="Body"></textarea>
            <div class="attachments">
                <ul>
                    <li>
                        <button type="submit">Post</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</form>
