@model IEnumerable<FaceBook_InitialVersion.Models.Post>

<div class="row">
    <div class="col-md-11 col-sm-11">
        <div class="form-group">
            <img src="http://placehold.it/300x300" alt="" class="profile-photo-md" />
            <textarea name="texts" id="exampleTextarea" cols="40" rows="4"
                      class="form-control" placeholder="Write what you wish" style="resize:none;"></textarea>
        </div>
    </div>
    <div class="col-md-1 col-sm-1">
        <div class="tools">
            <button class="btn btn-primary pull-right">Publish</button>
        </div>
    </div>
</div>