@model IEnumerable<FaceBook_InitialVersion.Models.Post>

@{
    ViewData["Title"] = "Posts";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Person> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="col-lg-6">
        <div class="central-meta">
            @* Here we send New Post as Model to the partial view so we can work on it there *@
            <partial name="_CreatePostBox" model="new Post()" />
        </div><!-- add post new box -->

        <div class="loadMore">
            <div id="MyPosts">
                <partial name="GetAll" model="Model" />
            </div>
        </div>
    </div><!-- centerl meta -->

}
